 .doubanFM-label{
    padding-left:0.5em;
 }
 .doubanFM-label:visit{
    color:#287DB8;
    transition: color 0.5s linear;
 }
 .loveit{
    color:#ff0000; /* the color of gnome-shell will override the color in svg , here is an workaround*/
 }
 .not-running{
    color:#fce94f;
 }
